@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";

	var teamImageFront = Model?.Value<IPublishedContent>("nextProjectImage");
    var teamImageBehind = Model?.Value<IPublishedContent>("nextProjectImageBehind");

    var companyLogoImage1 = Model?.Value<IPublishedContent>("recentProjectCompany1Image");
    var companyLogoImage2 = Model?.Value<IPublishedContent>("recentProjectCompany2Image");
    var companyLogoImage3 = Model?.Value<IPublishedContent>("recentProjectCompany3Image");
    var companyLogoImage4 = Model?.Value<IPublishedContent>("recentProjectCompany4Image");
    var companyLogoImage5 = Model?.Value<IPublishedContent>("recentProjectCompany5Image");
    var companyLogoImage6 = Model?.Value<IPublishedContent>("recentProjectCompany6Image");
}

<section class="tab-location">
	<div class="container text-center">
		<h1 class="standard-heading">@Model.Value("contactTabHeadline")</h1>
		<div class="flex">
			<p class="standard-text">@Model.Value("contactTabText1")</p>
			<i class="fa-solid fa-angle-right"></i>
			<p class="label-title">@Model.Value("contactTabText2")</p>
		</div>
	</div>
</section>

<section class="next-project contact-next-project">
    <div class="container flex">
        <img class="guy-glasses" src="@teamImageFront?.Url()" alt="@Model.Value("nextProjectImageAlt")">
        <img src="@teamImageBehind?.Url()" alt="@Model.Value("nextProjectImageBehindAlt")">
        <div class="next-project-text">
            <h1 class="standard-heading">@Model.Value("nextProjectHeadline")</h1>
            <div class="flex">
                <i class="fa-light fa-location-dot"></i>
                <p class="standard-text">@Model.Value("nextProjectTextHeadline")</p>
            </div>
            <p class="standard-text text-s">@Model.Value("nextProjectText")</p>
                <div class="flex">
                <i class="fa-light fa-phone-flip"></i>
                <p class="standard-text">@Model.Value("nextProjectTextHeadline2")</p>
            </div>
            <p class="standard-text text-s">@Model.Value("nextProjectText2")</p>
                <div class="flex">
                <i class="fa-light fa-envelope"></i>
                <p class="standard-text">@Model.Value("nextProjectTextHeadline3")</p>
            </div>
            <p class="standard-text text-s">@Model.Value("nextProjectText3")</p>
        </div>
    </div>
</section>

 <section class="map-wrap">
    <iframe class="map" width="100%" height="700" src="@Model.Value("contactMap")" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="container contact-call-back">
        <div class="text-center">
            <p class="label-title">@Model.Value("callBackTitle")</p>
            <h1 class="standard-heading">@Model.Value("callBackHeadline")</h1>
            <p>@Model.Value("callBackText")</p>
        </div>
        <div class="flex">
            <input type="email" class="form" placeholder="@Model.Value("callBackFormText1")" name="sector" />
            <input type="email" class="form" placeholder="@Model.Value("callBackFormText2")" name="sector" />
        </div>
        <div class="flex">
            <input type="email" class="form" placeholder="@Model.Value("callBackFormText3")" name="sector" />
            <div type="text" class="form-last" name="sector">
                @Model.Value("callBackFormText4") <i class="fa-solid fa-angle-down"></i>
            </div>
        </div>
        <button class="theme-btn" type="submit">@Model.Value("callBackFormBtnText")</button>
    </div>
</section>

 <section>
    <div class=" container company-grid">
        <img src="@companyLogoImage1?.Url()" alt="@Model.Value("recentProjectCompanyAlt")">
        <img src="@companyLogoImage2?.Url()" alt="@Model.Value("recentProjectCompanyAlt")">
        <img src="@companyLogoImage3?.Url()" alt="@Model.Value("recentProjectCompanyAlt")">
        <img src="@companyLogoImage4?.Url()" alt="@Model.Value("recentProjectCompanyAlt")">
        <img src="@companyLogoImage5?.Url()" alt="@Model.Value("recentProjectCompanyAlt")">
        <img src="@companyLogoImage6?.Url()" alt="@Model.Value("recentProjectCompanyAlt")">
    </div>
</section>

